.logo {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 4rem;
  
  h1 {
    @extend .montserrat;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    line-height: 0;
    color: $strawberry;
  }
  h4 {
    @extend .dance;
    font-size: 2rem;
    color: $charcoal;
    line-height: 1;
  }
  h2 {
    @extend .montserrat;
    font-size: 4rem;
    color: $charcoal;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 0;
  }
}

.divider {
  border: 0;
  border-bottom: 3px dotted $gray;
  color: $gray;
  margin: 0 0 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 3px dotted $gray;
  
  @include breakpoint('tablet') {
    flex-direction: row;
    border-bottom: none;
  }
  
  
  &-toggle {
    font-style: normal;
    
    @include breakpoint('tablet') {
      // display: none;
    }
  }
  
  &-list {
    display: column;
    list-style: none;
    align-self: center;
    margin: 0 0 0.5rem ;
    padding: 0;
    
    @include breakpoint('tablet') {
      display: inline-flex;
      align-self: flex-start;
    }
    
    &.open {
      display: block;
    }
  }
  &-item {
    padding: 1rem 2rem;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 0 2rem 0 0;
    
    a {
      color: darken($charcoal, 20%);
      text-shadow: 1px 1px $bluebird;
      
      &:hover {
        color: $charcoal;
        transition: all 2s ease-out;
      }
    }
  }
}
