@import '_colors.scss';
@import '_utilities.scss';
@import '_responsive.scss';

@import '_base.scss';

.contact-form {
  background: white;
  padding: 4rem;

  input, textarea {
    border: 4px solid $bluebird;
    padding: 8px;
    font-size: 1.8rem;
    color: $charcoal;

    &:focus, &:active {
      outline: 0;
      border: 4px solid darken($bluebird, 10%);
    }
  }

  .field {
    display: flex;
    flex-direction: column;
  }

  input[type='submit'] {
    background: $strawberry;
    padding: 1.5rem 4rem;
    color: white;
    border: 4px solid darken($strawberry, 10%);
    cursor: pointer;

    &:hover {
      color: darken(white, 5%);
      background: darken($strawberry, 10%);
      border: 4px solid darken($strawberry, 20%);
    }

  }
}

.video-container {
  position: relative;
  height: 0;
  margin-bottom: 2rem;
  padding: 0 2rem 56.25%; /* 16:9 */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.show {
  width: 60vw;
  text-align: center;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 2px solid $charcoal;
  background: rgba(white, 0.6);
  a {
    color: darken($bluebird, 40%);
  }
  &.history {
    color: white;
    background-color: rgba($charcoal, 0.2);
    border: 2px solid $charcoal;
  }
}

.site-container {
  background-image: url('/images/playing.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;

  .hero {
    height: 91vh;
    line-height: 0;
    display: grid;
    margin: 0;
    padding: 0;
    vertical-align: top;

    .logo {
      max-width: 40vw;
      display: block;
      justify-self: center;

      img {
        width: 100%;
      }
    }
  }

  nav {
    position: sticky;
    top: 0;
    margin-top: -1.6rem;

    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      padding: 20px;
      background: rgba(white, 0.9);
      box-shadow:  0.5rem 0.5rem 0.5rem rgba(gray, 0.6);
      text-shadow: 1px 1px rgba($charcoal, 0.2);

      li {
        list-style: none;
        font-size: 3rem;
        font-weight: bold;
        color: darken($charcoal, 10%);


        a {
          padding: 0 3rem;
          text-decoration: none;
        }
      }
    }
  }

  footer {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1rem;
    max-height: 6vh;
    background: rgba(white, 0.9);

    .logo {
      max-width: 10rem;
    }
    .social {
      display: flex;
      a {
        display: inline-block;
        img {
          width: 5rem;

        }
      }
    }
  }
  .panel {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  #bio {
    .bio-text {
      margin: 4rem auto;
      max-width: 60vw;
      padding: 5rem;
      font-size: 2.2rem;
      text-align: center;
      background: rgba(white, 0.7);
    }

  }

  #shows {
    background: rgba(white, 0.7);
    height: 100%;
    padding: 5rem;
  }

  #book-us {

  }

}
