@import '_colors.scss';
@import '_utilities.scss';
@import '_responsive.scss';

@import '_base.scss';

// Components
@import '_footer.scss';
@import '_header.scss';

.pacifico {
  font-family: 'Pacifico', cursive;
}
.montserrat {
  font-family: 'Montserrat', sans-serif;
}
.dance {
  font-family: 'Dancing Script', cursive;
}

.content {
  padding: 0 2rem 2rem;
}

.profile {
  @include imgBordered();
}

.contact-form {
  background: white;
  padding: 4rem;

  input, textarea {
    border: 4px solid $bluebird;
    padding: 8px;
    font-size: 1.8rem;
    color: $charcoal;

    &:focus, &:active {
      outline: 0;
      border: 4px solid darken($bluebird, 10%);
    }
  }

  .field {
    display: flex;
    flex-direction: column;
  }

  input[type='submit'] {
    background: $strawberry;
    padding: 1.5rem 4rem;
    color: white;
    border: 4px solid darken($strawberry, 10%);
    cursor: pointer;

    &:hover {
      color: darken(white, 5%);
      background: darken($strawberry, 10%);
      border: 4px solid darken($strawberry, 20%);
    }

  }
}

.video-container {
  position: relative;
  height: 0;
  margin-bottom: 2rem;
  padding: 0 2rem 56.25%; /* 16:9 */


  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.show {
  text-align: center;
  padding: 2rem;
  border: 2px solid $bluebird;
  a {
    color: darken($bluebird, 40%);
  }
  &.history {
    background-color: rgba($strawberry, 0.2);
    border: 2px solid $strawberry;
  }
}

.site-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  .logo {
    margin: 0;
    padding: 0;
    max-width: 45vw;
    grid-column: 2 / span 2;
  }
  .bio {
    grid-column: 2 / span 2;
  }
}
